<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dbfc7cd7-4441-4f2d-8f07-3438dec2f4d7" name="createsalesorder TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="dbfc7cd7-4441-4f2d-8f07-3438dec2f4d7fileName">createsalesorder-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="0ec60f3d-f6fe-41e8-9db6-2cea685cda07"><con:authProfile>EQ1</con:authProfile></con:entry></con:environmentSpec></con:testSuite>